<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>

        <div class="container-fluid login-wrapper">
            <div class="row text-center">
                <h1>Massive food ordering system</h1>
            </div>


                <div class="col-md-8 col-md-offset-2">

                    {% block event_content %}
                    {% endblock event_content %}
                </div>
        </div>
    </body>
</html>
