<h3>Event "{{ event.title }}" has been suspended</h3><br>

Hello, {{ name }}<br>

Event "{{ event.title }}" has been suspended.<br><br>

Vizit our page: <a href="{{ url('login') }}">CorvusFood</a>.<br><br>

Best Regards,<br>
CorvusFood Group.