<h3>Event "{{ event.title }}" has been canceled</h3><br>

Hello, {{ email }}<br>

Event {{ event.title }} has been canceled.<br><br>


Vizit our page: <a href="{{ url('login') }}">CorvusFood</a>.<br><br>

Best Regards,<br>

CorvusFood Group.