<h3>Food picking time for "{{ event.title }}" has ended</h3><br>

Hello, {{ name }}<br><br>

We want to announce you that food picking time for "{{ event.title }}" has ended.<br>
Food will be ordered soon.<br><br>

Vizit our page: <a href="{{ url('login') }}">CorvusFood</a>.<br><br>

Best Regards,<br>
CorvusFood Group.