{# app/Resources/views/Emails/registration.html.twig #}
<h3>You have been choosen</h3>

Hello, {{ email }}<br>

Event {{ event.title }} has been canceled.<br><br>


Vizit our page: <a href="{{ url('login') }}">CorvusFood</a>.<br><br>

Best Regards,<br>

CorvusFood Group.