
<h3>Food, for {{ event.title }} event has been delivered</h3>

Hello, {{ name }}<br><br>

We want to remind, that food for {{ event.title }} has been delivered<br>
Enjoy your meal :)<br><br>

Massive Food ordering system: <a href="{{ url('login') }}">CorvusFood</a>.<br><br>

Thanks!<br>
CorvusFood Group.