{# app/Resources/views/Emails/registration.html.twig #}
<h3>You have been choosen</h3>

Hello, {{ name }}

You have been invited by {{ event.host.username }} to participate in {{ event.title }} event.

Go to website, pick your food and save a lot of time.

{# example, assuming you have a route named "login" #}
To login, go to: <a href="{{ url('login') }}">Login</a>.

Thanks!

CorvusFood Group.