
<h3>{{ event.name }} Has ended</h3>

Hello, {{ name }}<br><br>

We want to remind, that event {{ event.name }} picking food time has ended.<br><br>

Please place orders, that everbody, who participates in event, could get food while it's hot :)<br><br>

To login, go to: <a href="{{ url('login') }}">Login</a>.<br><br>

Thanks!<br>

CorvusFood Group.