
<h3>"{{ event.title }}" Has ended</h3>

Hello, {{ name }}<br><br>

We want to remind you, that food picking time for event "{{ event.title }}" has ended.<br><br>

Please place orders, that everbody, who participates in event, could get food while it's hot. :)<br><br>

To login, go to: <a href="http://vilnius1.projektai.nfqakademija.lt">Login</a>.<br><br>

Thanks!<br>

CorvusFood Group.